-
    var passwordPopup =`
        Un mot de passe doit avoir:
        <ul>
            <li>entre 10 et 60 caractères</li>
            <li>un chiffre</li>
            <li>une caractère spéciale</li>
            <li>un majuscule</li>
        </ou>`;
    var passphrasePopup = `Une phrase secrète doit contenir entre 20 et 60 caractères`;

small(class="form-text text-muted")
    | Il faut que le mot de passe soit suffisament complexe 
    span(class="badge badge-pill badge-warning" 
    data-toggle="popover"
    data-content=passwordPopup
    data-html="true"
    data-original-title="Mot de passe")
        i(class="fas fa-question")
    br
    | ou une phrase secrète 
    span(class="badge badge-pill badge-warning"
    data-toggle="popover"
    data-content=passphrasePopup
    data-html="true"
    data-original-title="Phrase secrète")
        i(class="fas fa-question")